@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;800;900&display=swap');

body {
  font-family: 'Poppins', sans-serif;
}

button {
  font-family: 'Poppins', sans-serif;
}


.h1 {
  width: 100%;
  height: 80px;
  color: white;
  background-color: #36aaff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

main {
  width: 60%;
  margin: 0 auto;
}

.info {
  display: flex;
  justify-content: center;
  gap: 25px;
  margin-bottom: 15px;
}

.done,
.do {
  display: flex;
  align-items: center;
}

.info p {
  font-size: 23px;
  font-weight: 500;
  margin-top: 2px;
  margin-left: 1px;
}

#form {
  position: relative;
}

#form input {
  background: url(../img/Adrenaline.svg), url(../img/Dopamine.svg), url(../img/Serotonin.svg), url(../img/input-bg.svg);
  background-position: left 5px, right 23px, center 10px, right;
  width: 100%;
  border-radius: 10px;
  height: 2.2em;
  padding-left: 15px;
  padding-right: 60px;
  font-size: 20px;
}

#form input::placeholder {
  color: black;
  font-size: 20px;
  font-family: 'Poppins', sans-serif;
}

#form button {
  position: absolute;
  top: 0;
  right: 0;
  cursor: auto;
  display: block;
  height: 3em;
  width: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
}

#form button img {
  max-width: 75%;
}

.buttons button {
  margin-top: 10px;
  margin-left: 17px;
}

.buttons button svg {
  stroke: #000;
  transition: stroke 4s ease;
}

.buttons button:hover svg {
  stroke: #36aaff;
  transition: stroke 0.3s ease;
}

#taskList {
  margin-top: 15px;
}

#taskList li {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#taskList li:hover {
  background-color: rgb(241, 241, 241);
}

#taskList .color {
  position: absolute;
  background-color: hsl(30, 100%, 50%);
  width: 9px;
  height: 30px;
  border-radius: 0 5px 5px 0;
}

#taskList label {
  display: block;
  width: 100%;
  overflow-x: hidden;
  cursor: pointer;
  padding: 17px 0 17px 17px;
}

#taskList span {
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0% 60%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: background-size .3s;
}

#taskList :checked+span {
  background-size: 100% 1px;
}

#taskList .shorter-wrap {
  width: 75%;
}

#taskList .control {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 25%;
  max-width: 150px;
}

#taskList button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
}

.btn-delete::before {
  content: '';
  display: block;
  background-image: url(../img/recycle-bin.png);
  background-size: 20px;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
}

.btn-setting::before {
  content: '';
  display: block;
  background-image: url(../img/setting.png);
  background-size: 20px;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
}

.btn-comment::before {
  content: '';
  display: block;
  background-image: url(../img/comment.png);
  background-size: 20px;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
}

#confirmWindow {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 200px;
  width: 60%;
  padding-top: 15px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  flex-direction: column;
  align-items: center;
  gap: 10px;

}

#confirmWindow .confirm-buttons{
  display: flex;
  align-items: start;
  gap: 60px;
}

#confirmWindow button{
  padding: 5px;
}

@media (max-width: 767px) {
  main {
    width: 100%;
  }
}